<h1>
  <%= @recipe_data["name"] %>
</h1>

<br>

<p>
  <%= @recipe_data["description"] %>
</p>

<br>

<a href="<%= @recipe_url %>"><%= @recipe_url %></a>

<br>

<img src="<%= @recipe_data["image"][0] %>" alt="recipe image">

<br>

<p>
  <b>Prep Time:</b> <%= @recipe_data["prepTime"] %>
</p>

<p>
  <b>Cook Time:</b> <%= @recipe_data["cookTime"] %>
</p>

<p>
  <b>Total Time:</b> <%= @recipe_data["totalTime"] %>
</p>

<br>

<h2>
  Ingredients
</h2>

<form>
  <% @recipe_data["recipeIngredient"].each do |ingredient| %>
    <div>
      <input type="checkbox" id="<%= ingredient.underscore %>">
      <label for="<%= ingredient.underscore %>"><%= ingredient %></label>
    </div>
  <% end %>
</form>

<br>

<h2>
  Steps
</h2>

<ol>
  <% @recipe_data["recipeInstructions"].each do |step| %>
    <li>
      <%= step["text"] %>
    </li>
  <% end %>
</ol>

<h2>
  Notes
</h2>

<br>
<br>

<p>
  #Recipe
</p>